
<div class="main border border-primary" style="background-color: powderblue">
  <div>
<h4>Want to contact me?</h4>
<h6>Please provide following details..</h6>
<label>
  Your Name:
    <input type="text" [formControl]="name">
  </label>
 <br>
<label>
    Your Email Id:
    <input type="text" [formControl]="email">
  </label>
  <br>
  <label>
    Your Company:
    <input type="text" [formControl]="company">
  </label>
  
  <label>
    Designation:
    <input type="text" [formControl]="desig">
  </label>
  <br>
  <label>
   Any Message for me:
    <input style='height:150px; width:200px;' type="text" [formControl]="msg">
  </label>
</div>
</div>

